
:root {
  --dark-shade0: #282a36;

  --dark-shade1: #34353e;

  --dark-shade2: #43454f;

  --dark-shade3: #78787e;

  --dark-shade4: #a5a5a9;

  --dark-shade5: #e2e4e5;

  --dark-shade6: #eff0eb;

  --dark-shade7: #f1f1f0;

  --dark-accent0: #ff5c57;

  --dark-accent1: #ff9f43;

  --dark-accent2: #f3f99d;

  --dark-accent3: #5af78e;

  --dark-accent4: #9aedfe;

  --dark-accent5: #57c7ff;

  --dark-accent6: #ff6ac1;

  --dark-accent7: #b2643c;
}